.header {
    width: 100%;
    font-size: 2rem;
    color: #AA4586;
    margin-bottom: 10px;
    padding: 30px;
    background: linear-gradient(#B6EEA6, #A9FFCB);
  }
  
  .title {
    float: left;
  }
  
  .scores {
    float: right;
  }